<div class="text-center bg-light font-weight-normal pt-3">
  <a href= /topics>Chatty</a>

  <p>国際結婚についての掲示板です</p>
</div>
<p>スレッド一覧</p>
<ul>
  <% Topic.all.order(:id).each do |topic| %>
    <li>
      <%= link_to topic.title, new_topic_post_path(topic) %>
      <%= link_to '[削除]', topic_path(topic), method: :delete, data: { confirm: "削除してもよろしいですか？" } %>
    </li>
  <% end %>
</ul>

<div class="bg-success text-light">
  <h5>トピック新規登録</h5>
  <%= form_for @topic do |f| %>
    <%= f.text_field :title %>
    <%= f.submit %>
  <% end %>
</div>

<%= render 'layouts/shim' %>
<%= render 'layouts/footer' %>
